<?xml version="1.0" encoding="utf-8" ?>
<config
	baseDir="C:\Open source\Gary\MapEditor\MapEditor\"
	imageDir="C:\Open source\Gary\MapEditor\MapEditor\assets\images\"
	battleBackgroundDir="C:\Open source\Gary\MapEditor\MapEditor\assets\images\battleBackgrounds\"
	tileDir="C:\Open source\Gary\MapEditor\MapEditor\assets\images\tiles\"
	dataDir="C:\Open source\Gary\MapEditor\MapEditor\assets\data\"
	tileSetDir="C:\Open source\Gary\MapEditor\MapEditor\assets\data\tilesets\"
	mapDir="C:\Open source\Gary\MapEditor\MapEditor\assets\data\maps\"
    monsterRegionDir="C:\Open source\Gary\MapEditor\MapEditor\assets\data\monsterregions\"	
/>